main {
    margin: 5em;
}
@media screen and (max-width: 600px) {
  main {
    margin: 0.5em;
    overflow: hidden;
  }
}
.block_ {
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_2 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    letter-spacing: 0.5pt;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_3 {
    display: block;
    font-size: 1.41667em;
    letter-spacing: 0.5pt;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_4 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    display: block;
    line-height: 1.5;
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_6 {
    display: block;
    line-height: 1.5;
    margin-bottom: 5pt;
    margin-left: 10.5pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_7 {
    display: block;
    line-height: 1.5;
    margin-bottom: 5pt;
    margin-left: 21pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_9 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always
    }
.block_10 {
    border-left-color: #ED7D31;
    border-left-style: solid;
    border-left-width: 1.5pt;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    letter-spacing: 0.5pt;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_11 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    display: block;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_13 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_14 {
    display: table-row;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_15 {
    display: table-row;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_16 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_17 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_18 {
    display: block;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_19 {
    border-left-color: #ED7D31;
    border-left-style: solid;
    border-left-width: 1.5pt;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    letter-spacing: 0.5pt;
    line-height: 1.5;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_20 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_21 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_22 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_23 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_24 {
    display: block;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_25 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_26 {
    display: block;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always
    }
.block_27 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_28 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_29 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_30 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_31 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_32 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_33 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_34 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_35 {
    background-color: #272822;
    display: block;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_36 {
    background-color: #272822;
    color: #75715E;
    display: block;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_37 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_38 {
    display: block;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_39 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_40 {
    background-color: #272822;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_41 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_42 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_43 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_44 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center
    }
.block_45 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_46 {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_47 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: justify
    }
.block_48 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_49 {
    background-color: #272822;
    display: block;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 36pt
    }
.block_50 {
    color: #F8F8F2;
    display: block;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always
    }
.block_51 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_52 {
    display: block;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_53 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_54 {
    display: block;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid
    }
.block_55 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_56 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_57 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_58 {
    background-color: #272822;
    color: #E6DB74;
    display: block;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_59 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: justify
    }
.block_60 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_61 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center
    }
.block_62 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_63 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_64 {
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_65 {
    background-color: #272822;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_66 {
    background-color: #272822;
    color: #A6E22E;
    display: block;
    font-size: 0.75em;
    line-height: 14.2pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_67 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_68 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    letter-spacing: 0.5pt;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_69 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_70 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_71 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid
    }
.block_72 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_73 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_74 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid
    }
.block_75 {
    display: block;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: justify
    }
.block_76 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.block_77 {
    border-left-color: #ED7D31;
    border-left-style: solid;
    border-left-width: 1.5pt;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    letter-spacing: 0.5pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_78 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_79 {
    display: list-item;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 108pt;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_80 {
    display: list-item;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 108pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_81 {
    display: list-item;
    line-height: 1.3;
    margin-bottom: 8pt;
    margin-left: 108pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_82 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_83 {
    border-left-color: #ED7D31;
    border-left-style: solid;
    border-left-width: 1.5pt;
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    letter-spacing: 0.5pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    padding-bottom: 0;
    padding-left: 12pt;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-transform: uppercase
    }
.block_84 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_85 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_86 {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_87 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.block_88 {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_89 {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 8pt;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0
    }
.bullet_ {
    display: table-cell;
    font-weight: bold
    }
.calibre {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 650pt;
    width: 444pt
    }
.calibre2 {
    display: block;
    page-break-after: always
    }
.calibre3 {
    text-decoration: none
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    display: table-cell
    }
.calibre7 {
    height: 167pt;
    width: 461pt
    }
.calibre8 {
    white-space: pre-wrap
    }
.calibre9 {
    height: 139pt;
    width: 468pt
    }
.calibre10 {
    height: 81.8pt;
    width: 202pt
    }
.calibre11 {
    height: 105pt;
    width: 468pt
    }
.calibre12 {
    height: 134pt;
    width: 468pt
    }
.calibre13 {
    height: 212pt;
    width: 468pt
    }
.calibre14 {
    height: 200pt;
    width: 411pt
    }
.calibre15 {
    height: 228pt;
    width: 468pt
    }
.calibre16 {
    display: block;
    height: 39.1pt;
    margin-left: auto;
    width: 468pt
    }
.calibre17 {
    height: 55.8pt;
    width: 468pt
    }
.calibre18 {
    height: 50.6pt;
    width: 468pt
    }
.calibre19 {
    height: 153pt;
    width: 468pt
    }
.calibre20 {
    height: 71.2pt;
    width: 421pt
    }
.calibre21 {
    height: 9.93pt;
    width: 9.6pt
    }
.calibre22 {
    height: 175pt;
    width: 360pt
    }
.calibre23 {
    height: 125pt;
    width: 256pt
    }
.calibre24 {
    font-weight: bold
    }
.calibre25 {
    height: 227pt;
    width: 468pt
    }
.calibre26 {
    height: 229pt;
    width: 468pt
    }
.calibre27 {
    height: 227pt;
    width: 466pt
    }
.frame_ {
    border-left-color: #ED7D31;
    border-left-style: solid;
    border-left-width: 1.5pt;
    display: block;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_ {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.tab {
    white-space: pre
    }
.text_ {
    color: #0563C1;
    text-decoration: underline
    }
.text_1 {
    color: #F8F8F2
    }
.text_2 {
    color: #F92672
    }
.text_3 {
    color: #A6E22E
    }
.text_4 {
    color: #E6DB74
    }
.text_5 {
    color: #75715E
    }
.text_6 {
    text-decoration: underline
    }
.text_7 {
    font-size: 1em
    }
.text_8 {
    font-size: 1.33333em
    }
.text_9 {
    font-size: 1.33333em;
    font-style: italic
    }
.text_10 {
    color: #FD971F;
    font-style: italic
    }
.text_11 {
    color: #AE81FF
    }
.text_12 {
    color: #A6E22E;
    text-decoration: underline
    }
.text_13 {
    color: #0563C1;
    font-size: 1.33333em;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

